* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1rem;
}
h2,
h3 {
  color: rgb(54, 54, 54);
  font-size: 1rem;
}
body {
  font-family: "Lato", sans-serif;
}

h3,
h4 {
  font-weight: 400;
  color: rgb(96, 96, 96);
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
